
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5%35%;
  }
  
  .main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  h2 {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
   
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style-type: none;
    padding: 30px;  
  }
  
  li {
    background-color: #cfd75c;
    margin-top: 10%;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:auto;
    width: auto;
  }
  
  li.completed {
    text-decoration: line-through;
    color: #6c757d;
  }
  
  .delete-btn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  .edit-input {
    
    padding: 10px;
    font-size: 16px;
    height: auto;
  }
  .edit-btn {
    background-color: #1f1f1e;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
  }
  .edit-btn:hover {
    background-color: #e0a800;
  }  
  .tasklist{
    display: flex;
    flex-wrap:wrap ;
  }